<% @hobbies.each do |hobby| %>
	<div class="booyah-box col-xs-10 col-xs-offset-1">
		<h1><%= hobby.hobby_name %></h1><br />
		<i><%= hobby.description %></i><br /><br />
		<div class="pull-right">
			<p>-<%= hobby.author %></p>
		</div>
	</div>
<% end %>

<%= will_paginate @hobbies %>