<% @hobbies.each do |hobby| %>
	<div class="booyah-box col-xs-10 col-xs-offset-1">
		<h1><%= hobby.hobby %></h1>
		<i><%= hobby.description %></i><br /><br />
		<p><%= hobby.author %></p><br />
	</div>

	<hr />
<% end %>